In [2]:
import pandas as pd
cardata = {"Mercedes":[3,6,5,3,2,5],"Ford":[3,4,2,1,3,2],"Tata":[4,6,5,7,6,8],"Renault":[12,1,0,0,3,1]}
carsales = pd.DataFrame(cardata)
carsales.index.rename("Sales_place",inplace=True)
carsales.rename(index={0:"One",1:"Two",2:"Three",3:"Four",4:"Five",5:"Six"},inplace=True)
print(carsales)

             Mercedes  Ford  Tata  Renault
Sales_place
One                 3     3     4       12
Two                 6     4     6        1
Three               5     2     5        0
Four                3     1     7        0
Five                2     3     6        3
Six                 5     2     8        1

In [3]:
print(carsales.sort_values(by=["Tata"]))

             Mercedes  Ford  Tata  Renault
Sales_place
One                 3     3     4       12
Three               5     2     5        0
Two                 6     4     6        1
Five                2     3     6        3
Four                3     1     7        0
Six                 5     2     8        1

In [4]:
print(carsales.sort_values(by=["Ford"],ascending=False))

             Mercedes  Ford  Tata  Renault
Sales_place
Two                 6     4     6        1
One                 3     3     4       12
Five                2     3     6        3
Three               5     2     5        0
Six                 5     2     8        1
Four                3     1     7        0

In [5]:
print(carsales.sort_index())

             Mercedes  Ford  Tata  Renault
Sales_place
Five                2     3     6        3
Four                3     1     7        0
One                 3     3     4       12
Six                 5     2     8        1
Three               5     2     5        0
Two                 6     4     6        1

In [6]:
print(carsales.idxmax())

Mercedes    Two
Ford        Two
Tata        Six
Renault     One
dtype: object

In [7]:
print(carsales.idxmax(axis="columns"))

Sales_place
One       Renault
Two      Mercedes
Three    Mercedes
Four         Tata
Five         Tata
Six          Tata
dtype: object

In [8]:
print(carsales.idxmin())
print(carsales.idxmin(axis="columns"))

Mercedes     Five
Ford         Four
Tata          One
Renault     Three
dtype: object
Sales_place
One      Mercedes
Two       Renault
Three     Renault
Four      Renault
Five     Mercedes
Six       Renault
dtype: object

In [9]:
print(carsales.nlargest(3,"Mercedes",keep="all"))

             Mercedes  Ford  Tata  Renault
Sales_place
Two                 6     4     6        1
Three               5     2     5        0
Six                 5     2     8        1

In [10]:
print(carsales.nsmallest(3,"Tata",keep="all"))

             Mercedes  Ford  Tata  Renault
Sales_place
One                 3     3     4       12
Three               5     2     5        0
Two                 6     4     6        1
Five                2     3     6        3

In [11]:
print(carsales["Mercedes"].rank(ascending=False))

Sales_place
One      4.5
Two      1.0
Three    2.5
Four     4.5
Five     6.0
Six      2.5
Name: Mercedes, dtype: float64

In [12]:
print(carsales.rank())

             Mercedes  Ford  Tata  Renault
Sales_place
One               2.5   4.5   1.0      6.0
Two               6.0   6.0   3.5      3.5
Three             4.5   2.5   2.0      1.5
Four              2.5   1.0   5.0      1.5
Five              1.0   4.5   3.5      5.0
Six               4.5   2.5   6.0      3.5

In [13]:
print(carsales.rank(axis=1,ascending=False))

             Mercedes  Ford  Tata  Renault
Sales_place
One               3.5   3.5   2.0      1.0
Two               1.5   3.0   1.5      4.0
Three             1.5   3.0   1.5      4.0
Four              2.0   3.0   1.0      4.0
Five              4.0   2.5   1.0      2.5
Six               2.0   3.0   1.0      4.0