In [1]:
import pandas as pd
cardata = {"Mercedes":[3,6,5,3,2,5],"Ford":[3,4,2,1,3,2],"Tata":[4,6,5,7,6,8],"Renault":[12,1,0,0,3,1]}
carsales = pd.DataFrame(cardata)
carsales.index.rename("Sales_place",inplace=True)
carsales.rename(index={0:"One",1:"Two",2:"Three",3:"Four",4:"Five",5:"Six"},inplace=True)
print(carsales)

             Mercedes  Ford  Tata  Renault
Sales_place
One                 3     3     4       12
Two                 6     4     6        1
Three               5     2     5        0
Four                3     1     7        0
Five                2     3     6        3
Six                 5     2     8        1

In [2]:
print(carsales.agg(["sum","max","min"]))

     Mercedes  Ford  Tata  Renault
sum        24    15    36       17
max         6     4     8       12
min         2     1     4        0

In [3]:
print(carsales.agg(sum=("Ford","sum"),Maximum=("Ford","max"),Minimum=("Ford","min")))

         Ford
sum        15
Maximum     4
Minimum     1

In [4]:
print(carsales.agg({"Ford":["sum","max","min"],"Tata":["sum","max","min","count"]}))

       Ford  Tata
sum    15.0    36
max     4.0     8
min     1.0     4
count   NaN     6

In [5]:
print(carsales[["Mercedes","Tata","Renault","Ford"]].agg("sum"))

Mercedes    24
Tata        36
Renault     17
Ford        15
dtype: int64

In [6]:
print(carsales.agg("mean",axis="columns"))

Sales_place
One      5.50
Two      4.25
Three    3.00
Four     2.75
Five     3.50
Six      4.00
dtype: float64

In [7]:
print(carsales.describe())

       Mercedes      Ford      Tata    Renault
count  6.000000  6.000000  6.000000   6.000000
mean   4.000000  2.500000  6.000000   2.833333
std    1.549193  1.048809  1.414214   4.622409
min    2.000000  1.000000  4.000000   0.000000
25%    3.000000  2.000000  5.250000   0.250000
50%    4.000000  2.500000  6.000000   1.000000
75%    5.000000  3.000000  6.750000   2.500000
max    6.000000  4.000000  8.000000  12.000000

In [8]:
print(carsales["Tata"].value_counts())

Tata
6    2
4    1
5    1
7    1
8    1
Name: count, dtype: int64

In [9]:
print(carsales["Tata"].value_counts(normalize=True))

Tata
6    0.333333
4    0.166667
5    0.166667
7    0.166667
8    0.166667
Name: proportion, dtype: float64

In [10]:
carsales["Total_sales"]= carsales[carsales.columns].sum(axis=1)

In [11]:
print(carsales)

             Mercedes  Ford  Tata  Renault  Total_sales
Sales_place
One                 3     3     4       12           22
Two                 6     4     6        1           17
Three               5     2     5        0           12
Four                3     1     7        0           11
Five                2     3     6        3           14
Six                 5     2     8        1           16

In [12]:
def sales_rating(n_sold):
    if(n_sold>=15):
        return "Excellent"
    elif n_sold>5:
        return "Acceptable"
    else:
        return "Bad"
    
carsales["Sales_Rating"]= carsales["Total_sales"].apply(sales_rating)
print(carsales)

             Mercedes  Ford  Tata  Renault  Total_sales Sales_Rating
Sales_place
One                 3     3     4       12           22    Excellent
Two                 6     4     6        1           17    Excellent
Three               5     2     5        0           12   Acceptable
Four                3     1     7        0           11   Acceptable
Five                2     3     6        3           14   Acceptable
Six                 5     2     8        1           16    Excellent