In [32]:
import pandas as pd
cardata = {"Mercedes":[3,6,5,3,2,5],"Ford":[3,4,2,1,3,2],"Tata":[4,6,5,7,6,8],"Renault":[12,1,0,0,3,1]}
carsales = pd.DataFrame(cardata)
carsales.index.rename("Sales_place",inplace=True)
carsales.rename(index={0:"Saleplace1",1:"Saleplace2",2:"Saleplace3",3:"Saleplace4",4:"Saleplace5",5:"Saleplace6"},inplace=True)
print(carsales)

carsales.insert(0,"Salesplace_Name",["Europe 1","Austrelia 1","Asia 1","USA 1","Africa 1","South America 1"],allow_duplicates=True)
print(carsales)

             Mercedes  Ford  Tata  Renault
Sales_place
Saleplace1          3     3     4       12
Saleplace2          6     4     6        1
Saleplace3          5     2     5        0
Saleplace4          3     1     7        0
Saleplace5          2     3     6        3
Saleplace6          5     2     8        1
             Salesplace_Name  Mercedes  Ford  Tata  Renault
Sales_place
Saleplace1          Europe 1         3     3     4       12
Saleplace2       Austrelia 1         6     4     6        1
Saleplace3            Asia 1         5     2     5        0
Saleplace4             USA 1         3     1     7        0
Saleplace5          Africa 1         2     3     6        3
Saleplace6   South America 1         5     2     8        1

In [33]:
newsalesplace2 = pd.DataFrame({"Salesplace_Name":"USA 1","Mercedes":2,"Ford":3,"Tata":5,"Renault":3},index=["Saleplace7"])
newsalesplace3 = pd.DataFrame({"Salesplace_Name":"South America 1","Mercedes":1,"Ford":2,"Tata":6,"Renault":2},index=["Saleplace8"])
newsalesplace4 = pd.DataFrame({"Salesplace_Name":"USA 1","Mercedes":0,"Ford":2,"Tata":1,"Renault":0},index=["Saleplace9"])
carsales= pd.concat([carsales,newsalesplace2,newsalesplace3,newsalesplace4])
print(carsales)

            Salesplace_Name  Mercedes  Ford  Tata  Renault
Saleplace1         Europe 1         3     3     4       12
Saleplace2      Austrelia 1         6     4     6        1
Saleplace3           Asia 1         5     2     5        0
Saleplace4            USA 1         3     1     7        0
Saleplace5         Africa 1         2     3     6        3
Saleplace6  South America 1         5     2     8        1
Saleplace7            USA 1         2     3     5        3
Saleplace8  South America 1         1     2     6        2
Saleplace9            USA 1         0     2     1        0

In [34]:
def sales_rating(n_sold):
    if(n_sold>=17):
        return "Excellent"
    elif n_sold>10:
        return "Good"
    elif n_sold>5:
        return "Acceptable"
    else:
        return "Bad"
print(pd.crosstab(carsales["Salesplace_Name"],carsales["Ford"]))

Ford             1  2  3  4
Salesplace_Name
Africa 1         0  0  1  0
Asia 1           0  1  0  0
Austrelia 1      0  0  0  1
Europe 1         0  0  1  0
South America 1  0  2  0  0
USA 1            1  1  1  0

In [35]:
print(pd.crosstab(carsales['Mercedes'], carsales['Ford']))

Ford      1  2  3  4
Mercedes
0         0  1  0  0
1         0  1  0  0
2         0  0  2  0
3         1  0  1  0
5         0  2  0  0
6         0  0  0  1

In [36]:
print(pd.crosstab(carsales["Salesplace_Name"],carsales["Ford"],normalize=True))

Ford                    1         2         3         4
Salesplace_Name
Africa 1         0.000000  0.000000  0.111111  0.000000
Asia 1           0.000000  0.111111  0.000000  0.000000
Austrelia 1      0.000000  0.000000  0.000000  0.111111
Europe 1         0.000000  0.000000  0.111111  0.000000
South America 1  0.000000  0.222222  0.000000  0.000000
USA 1            0.111111  0.111111  0.111111  0.000000

In [37]:
print(pd.crosstab(carsales["Tata"],carsales["Ford"],normalize="columns"))

Ford    1     2         3    4
Tata
1     0.0  0.25  0.000000  0.0
4     0.0  0.00  0.333333  0.0
5     0.0  0.25  0.333333  0.0
6     0.0  0.25  0.333333  1.0
7     1.0  0.00  0.000000  0.0
8     0.0  0.25  0.000000  0.0

In [38]:
print(carsales.groupby(["Salesplace_Name"]).mean())

                 Mercedes  Ford      Tata  Renault
Salesplace_Name
Africa 1         2.000000   3.0  6.000000      3.0
Asia 1           5.000000   2.0  5.000000      0.0
Austrelia 1      6.000000   4.0  6.000000      1.0
Europe 1         3.000000   3.0  4.000000     12.0
South America 1  3.000000   2.0  7.000000      1.5
USA 1            1.666667   2.0  4.333333      1.0

In [39]:
print(carsales.groupby(["Salesplace_Name"]).sum())

                 Mercedes  Ford  Tata  Renault
Salesplace_Name
Africa 1                2     3     6        3
Asia 1                  5     2     5        0
Austrelia 1             6     4     6        1
Europe 1                3     3     4       12
South America 1         6     4    14        3
USA 1                   5     6    13        3

In [40]:
print(carsales.groupby("Salesplace_Name",group_keys=True).apply(lambda x:x))

                            Salesplace_Name  Mercedes  Ford  Tata  Renault
Salesplace_Name
Africa 1        Saleplace5         Africa 1         2     3     6        3
Asia 1          Saleplace3           Asia 1         5     2     5        0
Austrelia 1     Saleplace2      Austrelia 1         6     4     6        1
Europe 1        Saleplace1         Europe 1         3     3     4       12
South America 1 Saleplace6  South America 1         5     2     8        1
                Saleplace8  South America 1         1     2     6        2
USA 1           Saleplace4            USA 1         3     1     7        0
                Saleplace7            USA 1         2     3     5        3
                Saleplace9            USA 1         0     2     1        0

In [41]:
carsales["Total_sales"]= carsales[["Mercedes","Ford","Tata","Renault"]].sum(axis=1)
print(carsales)

            Salesplace_Name  Mercedes  Ford  Tata  Renault  Total_sales
Saleplace1         Europe 1         3     3     4       12           22
Saleplace2      Austrelia 1         6     4     6        1           17
Saleplace3           Asia 1         5     2     5        0           12
Saleplace4            USA 1         3     1     7        0           11
Saleplace5         Africa 1         2     3     6        3           14
Saleplace6  South America 1         5     2     8        1           16
Saleplace7            USA 1         2     3     5        3           13
Saleplace8  South America 1         1     2     6        2           11
Saleplace9            USA 1         0     2     1        0            3

In [42]:
#Now we will apply sales_rating function on total_sales column ann 
# crearte a new column for the rating to salesmplaces
carsales["Salesplace_Rating"]= carsales['Total_sales'].apply(sales_rating)

In [43]:
print(carsales)

            Salesplace_Name  Mercedes  Ford  Tata  Renault  Total_sales  \
Saleplace1         Europe 1         3     3     4       12           22
Saleplace2      Austrelia 1         6     4     6        1           17
Saleplace3           Asia 1         5     2     5        0           12
Saleplace4            USA 1         3     1     7        0           11
Saleplace5         Africa 1         2     3     6        3           14
Saleplace6  South America 1         5     2     8        1           16
Saleplace7            USA 1         2     3     5        3           13
Saleplace8  South America 1         1     2     6        2           11
Saleplace9            USA 1         0     2     1        0            3

           Salesplace_Rating
Saleplace1         Excellent
Saleplace2         Excellent
Saleplace3              Good
Saleplace4              Good
Saleplace5              Good
Saleplace6              Good
Saleplace7              Good
Saleplace8              Good
Saleplace9               Bad

In [44]:
#Now we can make cross table to compare salesplace based on their ratings

In [45]:
print(pd.crosstab(carsales["Salesplace_Name"],carsales["Salesplace_Rating"]))

Salesplace_Rating  Bad  Excellent  Good
Salesplace_Name
Africa 1             0          0     1
Asia 1               0          0     1
Austrelia 1          0          1     0
Europe 1             0          1     0
South America 1      0          0     2
USA 1                1          0     2

In [46]:
print(pd.crosstab(carsales["Salesplace_Rating"],carsales["Salesplace_Name"]))

Salesplace_Name    Africa 1  Asia 1  Austrelia 1  Europe 1  South America 1  \
Salesplace_Rating
Bad                       0       0            0         0                0
Excellent                 0       0            1         1                0
Good                      1       1            0         0                2

Salesplace_Name    USA 1
Salesplace_Rating
Bad                    1
Excellent              0
Good                   2

In [47]:
print(carsales.groupby("Salesplace_Rating",group_keys=True).apply(lambda x:x))

                              Salesplace_Name  Mercedes  Ford  Tata  Renault  \
Salesplace_Rating
Bad               Saleplace9            USA 1         0     2     1        0
Excellent         Saleplace1         Europe 1         3     3     4       12
                  Saleplace2      Austrelia 1         6     4     6        1
Good              Saleplace3           Asia 1         5     2     5        0
                  Saleplace4            USA 1         3     1     7        0
                  Saleplace5         Africa 1         2     3     6        3
                  Saleplace6  South America 1         5     2     8        1
                  Saleplace7            USA 1         2     3     5        3
                  Saleplace8  South America 1         1     2     6        2

                              Total_sales Salesplace_Rating
Salesplace_Rating
Bad               Saleplace9            3               Bad
Excellent         Saleplace1           22         Excellent
                  Saleplace2           17         Excellent
Good              Saleplace3           12              Good
                  Saleplace4           11              Good
                  Saleplace5           14              Good
                  Saleplace6           16              Good
                  Saleplace7           13              Good
                  Saleplace8           11              Good